.App-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1450px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  height: 100%;
}

li {
  list-style: none;
}

.thumbnails-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

.thumbnail-image {
  border-radius: 3px;
  cursor: pointer;
}

.thumbnail-image {
  width: 100%;
  max-width: clamp(100px, 200px, 300px);
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.thumbnail-image:hover {
  transform: translateY(-3px);
  box-shadow: 1px 3px 8px rgb(67, 64, 64);
}

.thumbnail-image:active {
  transform: translateY(0);
}

/* The main game images */
.image-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  align-content: flex-start;
}

.image-item {
  height: 250px;
}

.image {
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
  cursor: pointer;
  vertical-align: bottom;
}

/* Loading screen */
.loading-screen {
  display: flex;
  flex: 1;
}

/* gameplay screen */
.gameplay {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

/* Landing Page */
.landing-page {
  width: 100%;
  text-align: center;
  flex: 1;
  gap: 2rem;
  background-color: #d6e2e3;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.name {
  padding: 2rem;
  font-size: clamp(5vw, calc(12vw), 115px);
  font-family: "Faster One", system-ui;
  font-weight: 700;
}

.button-container {
  margin-top: 3rem;
}

.get-started {
  font-family: "Faster One", system-ui;
  font-size: clamp(0.75rem, 1.25rem, 2rem);
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 10px;
  color: white;
  border: none;
  box-shadow: 0px 3px 10px rgb(147, 48, 48);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.get-started:hover,.dialog-button:hover {
  transform: translateY(-3px);
}

.landing-images {
  display: flex;
  flex: 1;
  margin-top: 10rem;
  justify-content: space-between;
}

.andy {
  width: 100%;
  max-width: 25vw;
  object-fit: contain;
}

/* score display */

.score-display {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1rem 0;
  gap: 2rem;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  z-index: 1;
  width: 100%;
  font-size: xx-large;
  font-weight: 700;
}
/* game status */
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Faster One", system-ui;
  font-size: clamp(3rem, 5rem, 8rem);
  color: white;
  border: none;
  border-radius: 10px;
  background-color: green;
  padding: 2rem;
}

dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.544);
}

.dialog .button-container {
  display: flex;
  gap: 2rem;
}

.dialog-button {
  font-size: clamp(0.75rem, 1.25rem, 2rem);
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 10px;
  color: white;
  border: none;
  box-shadow: 0px 3px 10px rgb(147, 48, 48);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.play-again{
  background-color: rgb(255, 255, 3);
  color: black;
}

/* Smaller screens in portrait */
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .image-item {
    height: 100px;
  }

  .image {
    width: 100%;
    max-width: 150px;
  }
}

@media (max-width: 600px) {
  .thumbnail-image {
    max-width: 150px;
  }
}
@media (max-width: 500px) {
  .get-started {
    padding: 0.5rem 1rem;
  }
  .thumbnail-image {
    max-width: 100px;
  }
}
