.App-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1450px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  height: 100%;
}

.thumbnail-container, .image-container{
  display: flex;
  gap: 1rem;
  padding: 0;
}

li{
  list-style: none;
}

.thumbnail-image,.image{
  border-radius: 3px;
  cursor: pointer;
}


/* Landing Page */
.landing-page{
  text-align: center;
  flex: 1;
  background-color: #D6E2E3;
  display: flex;
  flex-direction: column;
}

.name{
  padding: 2rem;
  font-size: clamp(5vw,calc(8vw - 3px),115px);
  font-weight: bolder;
  line-height: 1;
}

.idea-image{
  width: 100%;
  max-width: clamp(10vw,25vw,240px);
  object-fit: contain;
  display: block;
  margin: 0 auto;
}