#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thumbnail-container, .image-container{
  display: flex;
  gap: 1rem;
  padding: 0;
}

li{
  list-style: none;
}

.thumbnail-image,.image{
  border-radius: 3px;
  cursor: pointer;
}
