.App-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1450px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  height: 100%;
}

.thumbnails-main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.thumbnail-container,
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}

li {
  list-style: none;
}

.thumbnail-image,
.image {
  border-radius: 3px;
  cursor: pointer;
}

.thumbnail-image{
  width: 100%;
  max-width: clamp(100px, 200px,300px);
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.thumbnail-image:hover{
  transform: translateY(-3px);
  box-shadow: 1px 3px 8px rgb(67, 64, 64) ;
}

.thumbnail-image:active{
  transform: translateY(0);
}

/* Landing Page */
.landing-page {
  width: 100%;
  text-align: center;
  flex: 1;
  gap: 2rem;
  background-color: #d6e2e3;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.name {
  padding: 2rem;
  font-size: clamp(5vw, calc(9vw), 115px);
  font-family: "Faster One", system-ui;
  font-weight: 700;
}

.button-container {
  margin-top: 3rem;
}

.get-started {
  font-family: "Faster One", system-ui;
  font-size: clamp(0.75rem, 1.25rem, 2rem);
  padding: 1rem 2rem;
  background-color: red;
  border-radius: 10px;
  color: white;
  border: none;
  box-shadow: 0px 3px 10px rgb(147, 48, 48);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.get-started:hover {
  transform: translateY(-3px);
}

.landing-images {
  display: flex;
  flex: 1;
  margin-top: 10rem;
  justify-content: space-between;
}

.andy {
  width: 100%;
  max-width: 25vw;
  object-fit: contain;
}

@media (max-width: 500px) {
  .get-started {
    padding: 0.5rem 1rem;
  }
  .thumbnail-image{
    max-width: 100px;
  }
}